.selected {
  background-color: pink;
}

.highSuccessRate {
  color: red;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
}

.rowContainer1 {
  flex-wrap: nowrap;
}

.warningInfo {
  padding-left: 32px;
  font-size: 14px;
  color: red;
}



.interviewInformation .table td,
.interviewInformation .table th {
  padding: 0.4rem;
}